.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.interview-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Common styles that are used across multiple components */
button {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #666666;
  border-color: #666666;
  color: #ffffff;
  cursor: not-allowed;
}

.qa-pair-container {
  background-color: grey;
  border-radius: 8px;
  padding: 1rem;
}